.addnote__nav {
    height: 8vh;
    width: 100vw;
    background-color: #131212;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px solid #393D42;
}

.addnote__nav div:nth-child(1) {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid whitesmoke;
    padding: 0 2px;
}

.addnote__nav div:nth-child(1) h6:nth-child(1) {
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.addnote__nav input:nth-child(2) {
    height: 100%;
    width: 60%;
    border: none;
    outline: none;
    background-color: transparent;
    color: whitesmoke;
    text-align: center;
    font-size: large;
    font-weight: 600;
    letter-spacing: .5px;
}

.addnote__nav div:nth-child(3) {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

#addnote_form {
    height: 92vh;
    width: 100%;
    background-color: #131212;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.addnote_form_section {
    height: 90%;
    max-width: 700px;
    background-color: #131212;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.addnote_form_input_title {
    height: 7%;
    border: none;
    outline: none;
    background-color: transparent;
    color: whitesmoke;
    text-align: left;
    font-size: larger;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 20px;
}

.addnote_form_input_textarea {
    height: 93%;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: whitesmoke;
    text-align: left;
    font-size: medium;
    font-weight: 400;
    letter-spacing: .5px;
    resize: none;
}

@media only screen and (min-width: 0px) and (max-width: 250px) {
    .addnote__nav input:nth-child(2) {
        text-align: right;
    }
    .addnote_form_section {
        width: 100%;
    }
}

@media only screen and (min-width: 250px) and (max-width: 450px) {
    .addnote__nav input:nth-child(2) {
        text-align: right;
    }
    .addnote_form_section {
        width: 95%;
    }
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
    .addnote_form_section {
        width: 90%;
    }
}

@media only screen and (min-width: 650px) {
    .addnote_form_section {
        width: 90%;
    }
}

/* @media only screen and (min-width: 0px) and (max-width: 250px) {

} */