:root {
    --header-height: 10vh;
    --header-py: 0rem;
    --header-px: 1.4rem;
    --header-section-font-size: 1.2rem;
}

.main_body__div {
    background-color: #131212;
    min-height: 100vh;
    width: 100%;
}

.allnotes__addnote {
    height: 15vh;
    width: 100%;
    padding: var(--header-py) var(--header-px);
}

.addnote_container {
    height: 100%;
    width: 55%;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png");
    opacity: 90;
    border: 1.5px solid whitesmoke;
    border-radius: 3px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0px 0px 5px dimgray;
}

.addnote_container div:nth-child(1) {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.addnote_container div:nth-child(1) h1:nth-child(1) {
    color: rgb(74, 72, 72);
    font-size: 1.3rem;
    font-weight: 600;
}

.addnote_container div:nth-child(2) {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addnote_container div:nth-child(2) a:nth-child(1) {
    color: rgb(74, 72, 72);
    font-size: 1.3rem;
    font-weight: 600;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png");
    width: 150px;
    height: 50px;
    outline: none;
    opacity: 80;
    border: 2px solid rgb(74, 72, 72);
    border-radius: 3px;
    box-shadow: 0px 0px 2px dimgray;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard {
    height: calc(100vh - var(--header-height));
    width: 100%;
}

.dashboard_statistic {
    position: relative;
    min-height: 45vh;
    margin: var(--header-py) var(--header-px);
    border-radius: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: calc(var(--header-py) + 13px) 0;
    flex-direction: column;
}

.dashboard_statistic h1:nth-child(1) {
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 3px;
    border-bottom: 1px solid dimgray;
    margin-bottom: 20px;
}

.stats {
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.particular_note {
    min-height: 150px;
    height: 20vh;
    min-width: 230px;
    width: 30vh;
    opacity: 90;
    border: 1.5px solid whitesmoke;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: whitesmoke;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png");
}

.note_heading {
    height: 65%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.note_heading span:nth-child(1){
    color: rgb(74, 72, 72);
    font-size: 1.25rem;
    font-weight: 700
}

.note_heading h6:nth-child(2){
    color: rgb(140, 140, 140);
    font-size: 0.9rem;
    font-weight: 600
}

.note_operations {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.note_operations a:nth-child(1) {
    color: black;
    font-size: 13px;
    font-size: 500;
    text-decoration: none;
}

.note_operations div:nth-child(2) {
    color: black;
    font-size: 13px;
    font-size: 500;
    text-align: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

@media only screen and (min-width: 0) and (max-width: 250px) { 
    /* :root {} */
    .time {
        display: none;
    }
    .particular_note {
        min-width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 250px) and (max-width: 400px){
    .time {
        display: none;
    }
    .particular_note {
        min-width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
    .addnote_container div:nth-child(2) {
        justify-content: center!important;
    }
    .addnote_container div:nth-child(2) {
        width: 80%!important;
    }
    .addnote_container div:nth-child(1) {
        display: none;
    }
}

@media only screen and (min-width: 400px) and (max-width: 450px) { 
    /* :root {} */
    .time {
        display: none;
    }
    .particular_note {
        width: 100%;
        min-width: 100%;
        height: 200px;
        min-height: 200px;
        margin-bottom: 18px;
    }
    .addnote_container div:nth-child(2) {
        width: 50%!important;
    }
    .addnote_container div:nth-child(1) {
        width: 50%!important;
    }
}

@media only screen and (min-width: 450px) and (max-width: 550px) { 
    /* :root {} */
    .time {
        display: none;
    }
    .particular_note {
        width: 45%;
        min-width: 45%;
        height: 140px;
        min-height: 140px;
        margin-bottom: 18px;
    }
    .stats {
        justify-content: space-between;
    }
    .addnote_container div:nth-child(2) {
        width: 50%!important;
    }
    .addnote_container div:nth-child(1) {
        width: 50%!important;
    }
}

@media only screen and (max-width: 870px) {
    .addnote_container {
        width: 100%;
    }
    .addnote_container div:nth-child(2) {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 450px) and (max-width: 870px) {
    .allnotes__addnote {
        padding-right: 40px;
    }
    .addnote_container div:nth-child(2) {
        width: 33%;
    }
    .addnote_container div:nth-child(1) {
        width: 67%;
    }
}