:root {
    --header-height: 10vh;
    --header-py: 0rem;
    --header-px: 1.4rem;
    --header-section-font-size: 1.2rem;
}

.main_body__div {
    background-color: #131212;
    min-height: 100vh;
    width: 100%;
}

.inotebook__header {
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--header-py) var(--header-px);
}

.inotebook__header section:nth-child(1), .inotebook__header section:nth-child(3){
    border-bottom: 1px solid rgb(108, 108, 108);
}

.in_header__section {
    font-size: var(--header-section-font-size);
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 1px;
}

.time {
    font-size: 1rem;
}

.dashboard {
    height: calc(100vh - var(--header-height));
    width: 100%;
}

.dashboard_statistic {
    position: relative;
    min-height: 45vh;
    margin: var(--header-py) var(--header-px);
    border-radius: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: calc(var(--header-py) + 13px) 0;
    flex-direction: column;
}

.dashboard_statistic h1:nth-child(1) {
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 3px;
    border-bottom: 1px solid dimgray;
    margin-bottom: 20px;
}

.stats {
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.particular_note {
    min-height: 150px;
    height: 20vh;
    min-width: 230px;
    width: 30vh;
    border: 1.5px solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png");
    opacity: 90%;
}

.note_heading {
    height: 65%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.note_heading span:nth-child(1){
    color: rgb(74, 72, 72);
    font-size: 1.25rem;
    font-weight: 700
}

.note_heading h6:nth-child(2){
    color: rgb(140, 140, 140);
    font-size: 0.9rem;
    font-weight: 600
}

.note_operations {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.note_operations a:nth-child(1) {
    color: black;
    font-size: 13px;
    font-size: 500;
    text-decoration: none;
}

.note_operations div:nth-child(2) {
    color: black;
    font-size: 13px;
    font-size: 500;
    text-align: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

@media only screen and (min-width: 0) and (max-width: 250px) { 
    /* :root {} */
    .time {
        display: none;
    }
    .particular_note {
        min-width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 250px) and (max-width: 400px){
    .time {
        display: none;
    }
    .particular_note {
        min-width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 450px) { 
    /* :root {} */
    .time {
        display: none;
    }
    .particular_note {
        width: 100%;
        min-width: 100%;
        height: 200px;
        min-height: 200px;
        margin-bottom: 18px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 550px) { 
    /* :root {} */
    .time {
        display: none;
    }
    .particular_note {
        width: 45%;
        min-width: 45%;
        height: 140px;
        min-height: 140px;
        margin-bottom: 18px;
    }
    .stats {
        justify-content: space-between;
    }
}